{
  "plugins": [
    "stylelint-order",
    "stylelint-declaration-strict-value"
  ],
  "ignoreFiles": [
    "node_modules/**/*",
    "dist/**/*"
  ],
  "extends": "stylelint-config-recommended-scss",
  "rules": {
    "declaration-no-important": true,

    "declaration-property-unit-whitelist": {
      "font-size": ["rem", "em", "px", "%", "vw", "vh", "vmin", "vmax"],
      "/(width|height|top|right|bottom|left|padding|margin)/": ["rem", "em", "px", "%", "vw", "vh", "vmin", "vmax"],
      "/^(animation|transition)/": ["s"]
    },
    "declaration-block-single-line-max-declarations": 1,
    "selector-class-pattern": ["^([a-z][a-z0-9]*)(-[a-z0-9]+)*$", {
      "resolveNestedSelectors": true
    }],
    "selector-id-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "selector-max-attribute": 1,
    "shorthand-property-no-redundant-values": true,

    "no-descending-specificity": [true, {
      "severity": "warning"
    }],
    "property-no-vendor-prefix": true,
    "selector-max-specificity": "0,5,5",
    "selector-max-compound-selectors": 5,
    "selector-max-empty-lines": 1,
    "selector-no-vendor-prefix": true,
    "max-nesting-depth": 10,
    "function-comma-newline-after": "always-multi-line",
    "function-comma-newline-before": "never-multi-line",
    "function-comma-space-after": "always-single-line",
    "function-comma-space-before": "never",
    "function-max-empty-lines": 0,
    "function-name-case": "lower",
    "function-parentheses-newline-inside": "always-multi-line",
    "function-parentheses-space-inside": "never-single-line",
    "function-whitespace-after": "always",
    "number-leading-zero": "never",
    "number-no-trailing-zeros": true,
    "string-quotes": "single",
    "length-zero-no-unit": true,
    "unit-case": "lower",
    "value-keyword-case": "lower",
    "value-list-comma-newline-after": "always-multi-line",
    "value-list-comma-newline-before": "never-multi-line",
    "value-list-comma-space-after": "always-single-line",
    "value-list-comma-space-before": "never",
    "value-list-max-empty-lines": 0,
    "property-case": "lower",
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-semicolon-newline-before": "never-multi-line",
    "declaration-block-semicolon-space-before": "never",
    "declaration-block-trailing-semicolon": "always",
    "block-closing-brace-empty-line-before": "never",
    "block-closing-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always",
    "block-opening-brace-newline-after": "always",
    "block-opening-brace-space-before": "always",
    "selector-attribute-brackets-space-inside": "never",
    "selector-attribute-operator-space-after": "never",
    "selector-attribute-operator-space-before": "never",
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "selector-descendant-combinator-no-non-space": true,
    "selector-pseudo-class-case": "lower",
    "selector-pseudo-class-parentheses-space-inside": "never",
    "selector-pseudo-element-case": "lower",
    "selector-pseudo-element-colon-notation": "double",
    "selector-type-case": "lower",
    "selector-list-comma-newline-after": "always",
    "selector-list-comma-newline-before": "never-multi-line",
    "selector-list-comma-space-before": "never",
    "rule-empty-line-before": ["always", {
      "except": [
        "first-nested",
        "after-single-line-comment"
      ]
    }],
    "media-feature-colon-space-after": "always",
    "media-feature-colon-space-before": "never",
    "media-feature-name-case": "lower",
    "media-feature-parentheses-space-inside": "never",
    "media-feature-range-operator-space-after": "always",
    "media-feature-range-operator-space-before": "always",
    "comment-empty-line-before": "always",

    "indentation": 2,
    "linebreaks": "unix",
    "max-empty-lines": 3,
    "no-eol-whitespace": true,
    "no-missing-end-of-source-newline": true,





    "unit-whitelist": ["em", "rem", "px", "%", "vw", "vh", "vmin", "vmax", "deg", "s"],
    "value-no-vendor-prefix": true,
    "order/properties-order": [
      "content",
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "z-index",
      "box-sizing",


      "display",


      "grid",
      "grid-template",
      "grid-template-columns",
      "grid-template-rows",
      "grid-template-areas",
      "grid-auto-columns",
      "grid-auto-rows",
      "grid-auto-flow",
      "grid-column-gap",
      "grid-row-gap",
      "column-gap",
      "row-gap",

      "grid-area",
      "grid-column",
      "grid-column-start",
      "grid-column-end",
      "grid-row",
      "grid-row-start",
      "grid-row-end",

      "columns",
      "column-width",
      "column-count",
      "column-gap",
      "column-fill",
      "column-rule",
      "column-span",


      "flex",
      "flex-grow",
      "flex-shrink",
      "flex-basis",

      "flex-flow",
      "flex-direction",
      "flex-wrap",

      "align-items",
      "align-content",
      "justify-content",

      "align-self",
      "justify-self",
      "order",

      "vertical-align",


      "float",
      "clear",


      "width",
      "min-width",
      "max-width",

      "height",
      "min-height",
      "max-height",

      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",

      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",


      "border",
      "border-top",
      "border-right",
      "border-bottom",
      "border-left",

      "border-width",
      "border-top-width",
      "border-right-width",
      "border-bottom-width",
      "border-left-width",

      "border-style",
      "border-top-style",
      "border-right-style",
      "border-bottom-style",
      "border-left-style",

      "border-color",
      "border-top-color",
      "border-right-color",
      "border-bottom-color",
      "border-left-color",

      "border-radius",
      "border-top-left-radius",
      "border-top-right-radius",
      "border-bottom-right-radius",
      "border-bottom-left-radius",

      "border-collapse",
      "border-spacing",


      "background",
      "background-color",
      "background-image",
      "background-repeat",
      "background-attachment",
      "background-position",
      "background-size",
      "background-origin",
      "background-clip",

      "box-shadow",
      "opacity",
      "visibility",


      "overflow",
      "overflow-x",
      "overflow-y",


      "list-style",
      "list-style-type",
      "list-style-position",
      "list-style-image",


      "color",

      "font",
      "font-style",
      "font-variant",
      "font-weight",
      "font-size",
      "line-height",
      "font-family",

      "font-stretch",
      "font-smoothing",

      "text-align",
      "text-decoration",
      "text-transform",
      "text-indent",
      "text-overflow",
      "text-rendering",
      "text-shadow",
      "letter-spacing",
      "word-spacing",
      "text-wrap",
      "hyphens",
      "word-break",
      "word-wrap",
      "white-space",
      

      "appearance",
      "outline",
      "outline-width",
      "outline-style",
      "outline-color",
      
      "outline-offset",


      "cursor",
      "pointer-events",
      "user-select",
      "speak",


      "transform",
      "transform-box",
      "transform-origin",
      "transform-style",
      "backface-visibility",
      "perspective",
      "perspective-origin",


      "transition",
      "transition-property",
      "transition-duration",
      "transition-timing-function",
      "transition-delay",


      "animation",
      "animation-name",
      "animation-duration",
      "animation-timing-function",
      "animation-delay",
      "animation-iteration-count",
      "animation-direction",
      "animation-fill-mode",
      "animation-play-state",
    ],

    "scale-unlimited/declaration-strict-value": [
      ["z-index", "font-family"],
      {
        "ignoreKeywords":[
          "inherit",
          "initial",
          "unset",
          "auto"
        ]
      }
    ],
    "color-named": "never",
    "function-blacklist": [
      "rgb"
    ],
    "declaration-property-value-blacklist": [{
      "/^[^$].*/": ["/#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3}|[A-Fa-f0-9]{4}|[A-Fa-f0-9]{8})/", "/\\srgba\\((\\s?\\d,)/"]
    }, {
      "message": "No color literals allowed (declaration-property-value-blacklist)"
    }]
  }
}
